.container{
    font-family: 'SF Pro Regular';
    max-width: inherit;
}

.container.continue{
    position: fixed;
    bottom: 60px;
}

.continue.btn.btn-primary{
    width: 100%;
}

option{
    font-family: 'SF Pro Regular';
}

.container.form{
    margin-bottom:100px;
}

.back.btn.btn-outline-primary{
    width: 100%;
}

textarea{
    resize: none;
}

@media(min-width:578px){
    .outer{
        position:relative;
        overflow-y:scroll;
        height: 90%;
    }
    .container.form{
        margin-bottom:0;
    }

    .container.continue{
        position:absolute;
        bottom:1%;
    }
}

