.navbar-brand{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 40% ;
}

.nav-item{
    font-family: 'Century Gothic';
    font-style: normal;
    font-size: 85%;
}

.nav-link{
    margin-bottom: 10px;
    vertical-align: center;
    align-items: center;
}

.bi{
    font-size: 1.2rem;
    vertical-align: center;
}

a{
    vertical-align: center;
}
