.navbar-brand{
    font-family: 'SF Pro';
    letter-spacing:.01em;
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 42.3% ;
}

.nav-item{
    font-family: 'SF Pro';
    font-style: normal;
    font-size: 85%;
}

.nav-link{
    margin-bottom: 10px;
    vertical-align: center;
    align-items: center;
}

.bi .bi-plus-circle-fill{
    font-size: 1.2rem;
    vertical-align: -0.4rem;
}

.bi .bi-stickies{
    font-size: 1.2rem;
    vertical-align: -0.43rem;
}

.bi .bi-chat{
    font-size: 1.2rem;
    vertical-align: -1.25px;
}

.bi .bi-gear{
    font-size: 1.2rem;
    vertical-align: -1.75px;
}


a{
    vertical-align: center;
}


