.anotherName{
    margin-top: 7%;
}
.buttonDiv{
    width: 100%;
}
.boton{
    width: 45%;
}
#no-button{
    margin-left: 5%;
}
#yes-button{
    margin-right: 5%;
}
.container.name{
    margin-top: 5%;
}
.container.otherNames{
    margin-top: 7%;
}

.container.continue{
    position: absolute;
    bottom: 7%;
}