<app-navbar-sup [text]="textNavbar"></app-navbar-sup>
<div *ngIf="isMobile && step=='name'" class="outerMobile">
    <div class="container name">
        <div class="mb-3">
            <label for="dogName" class="form-label">Nombre: </label>
            <input type="email" #dogName (keyup)="changeButtonState()" class="form-control" id="dogName" placeholder="Capitán">
            <small class="form-text text-muted">Este campo es obligatorio</small>
        </div>
        <div class="anotherName">
            <label for="btn-check" class="form-label">¿Responde a algún apodo?</label>
            <div class="buttonDiv">
                <input type="checkbox" #checkYes class="yes btn-check" id="yes-btn-check" (change)="true" autocomplete="off">
                <label class="boton btn btn-primary" id="yes-button" for="yes-btn-check">Si</label>
            </div>
        </div>
    </div>

    <div *ngIf="checkYes.checked" class="container otherNames">
        <div class="container dates">
            <label for="otherNames" class="form-label">Apodos: </label>
            <div class="col mb-3" id="otherNamesFirst">
                <div class="row">
                    <input type="email" class="form-control" id="otherNamesFirst" placeholder="Capi">
                    <button type="button" class="botonMas btn btn-outline-dark" ><i class="bi bi-plus-circle"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container continue d-grid ">
        <button type="button" class="btn btn-primary {{disableButton}}" (click)="continue1()">Continuar</button>
    </div>

    
</div>

<div *ngIf="isMobile && step=='date'" class="outerMobile">
    <div class="container dates">
        <div class="mb-3">
            <label for="datePicker" class="me-3">Visto por última vez:</label>
            <input id="datePicker" type="date" value="{{today}}">
        </div>
        <div class="mb-3">
            <label for="timePicker" class="me-3">Hora aproximada:</label>
            <input type="time" id="timePicker" name="timePicker" value="{{now}}" required>
        </div>
    </div>

    <div class="container continue">
        <div class="row">
            <div class="col">
                <button type="button" class="back btn btn-primary" (click)="goBack1()">Volver</button>
            </div>
            <div class="col">
                <button type="button" class="continue btn btn-primary" (click)="continue2()">Continuar</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isDesktop" class="outerDesktop">
    <p>Hola</p>
</div>

<app-navbar-inf></app-navbar-inf>