
.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: white;
}

.container{
    font-family: 'SF Pro Regular';
}

/* DESKTOP  */

@media (min-width:578px){
    .outerNav{
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .navbarStyles{
        z-index: 999;
        position: fixed;
        width: 100%;
        max-width: 1200px;
    }

    .outerDiv{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .containerDiv{
        display: inline-flex;
        margin: 10vh 10vw 10vh 10vw;
        margin-top: max(10vh,86px);/*86px max height of navbar*/
        margin-bottom: 86px;
        max-width: 1200px;
        max-height: 700px;
        height: calc(100% - (87px + 86px));
        width:50%;
        box-shadow: 10px 5px 5px rgb(97, 97, 97);
    }

    .component{
        position: relative;
        width:100%;
    }
}

@media (min-width:2300px){
    .container{
        max-width:1500px;
    }
    .containerDiv{
        max-width: 1500px;
        max-height: 900px;
    }

    .navbarStyles {
        max-width: 1500px;
    }
}

@media (min-width:2900px){
    .container{
        max-width:1800px;
    }
    .containerDiv{
        max-width: 1800px;
        max-height: 1200px;
    }

    .navbarStyles {
        max-width: 1800px;
    }
}