footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    right: 0;
    background-color: white;
    z-index: 9999;
}
footer a{
    align-content: center;
}

#chat-button {
    margin-right: 9vw;
}

#chat-icon{
    width: 50px;
    height: 30px;
}

#chat-button .bi.bi-chat-fill{
    display:none
}

#chat-button:hover .bi.bi-chat-fill{
    display:inline;
}

#chat-button:hover .bi.bi-chat{
    display:none;
}

#home-button{
    margin-left: 9vw;
}

#home-button .homeIF{
    display:none;
    
}

#home-button:hover .homeIF{
    display:inline;
    
}

#home-button:hover .homeI{
    display:none;
}

img{
    width: 25px;
    height: 25px;
}