<div id="navbar-footer">
    <footer class="mt-auto border-top">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" id="home-button" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <img src="assets/images/Home_Icon_Dark.png">
                </a>
                <app-uploadbutton [text]="'+'"></app-uploadbutton>
                <a class="navbar-brand" id="chat-button" routerLink="/chats" routerLinkActive="active">
                    <i class="bi bi-chat" id="chat-icon"></i>
                </a>
            </div>
        </nav>
    </footer>
</div>