.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    background-color: white;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    z-index: 9999;
}

.containerDiv{
    position: relative;
    width: 100%;

    max-width: 1200px;
}

.outerDiv{
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
}