.gridContainer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 67px;
}

.container {
    padding-bottom: 50px;
    margin-bottom: 5px ;
}

.loading{
    margin-top:15%;
}

.container.pagination{
    align-content: center;
    justify-content: center;
}