.textZone {
    position: absolute;
    padding-top: 0%;
    padding-left: 2%;
    margin-bottom: 0;

}

.imgZone {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*mobile*/
.outsideDiv {
    width: 45vw; /* borrarlos y ponerlos 100% cuando tengagmos grilla*/
    height: 150px;
    border-color: black;
    border-style: solid;
}