.textZone {
    position: absolute;
    padding-top: 0%;
    padding-left: 2%;
    margin-bottom: 0;
    color: white;

}

.imgZone {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*mobile*/
.outsideDiv {
    position: relative;
    width: 100%; /* borrarlos y ponerlos 100% cuando tengagmos grilla*/
    height: 150px;

}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(179.47deg, #000000 0.45%, rgba(196, 196, 196, 0) 99.55%);
}

@media (min-width: 992px){
    .outsideDiv{
        height: 200px;
    }
}