input{
    display: none;
}

.bi.bi-plus-square-dotted{
    font-size: 2.5rem;
}

.upload.button{
    border: 1px dashed #ccc;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-preview{
    background: center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 12vh;
}

.photo{
    position:relative;
}

#xButton{
    color:rgb(218, 30, 30);
    font-size: 1.5rem;
}

.xButton{
    cursor:pointer;
    position:absolute;
    bottom:-15px;
    right:-12px;
}

/* DESKTOP */
@media (min-width:578px){
    .upload.button{
        height: 20vh;
    }
    .img-preview{
        height: 20vh;
    }
}
@media(min-width: 1000px){
    .upload.button{
        height: 30vh;
    }
    .img-preview{
        height: 30vh;
    }
}
@media(min-width: 2000px){
    .upload.button{
        height: 15vh;
    }
    .img-preview{
        height: 15vh;
    }
}