.container{
    font-family: 'SF Pro Regular';
    max-width: inherit;
}

.container.continue{
    position: fixed;
    bottom: 60px;
}

.continue.btn.btn-primary{
    width: 100%;
}

.back.btn.btn-outline-primary{
    width: 100%;
}

textarea{
    resize: none;
}

/* DESKTOP */
@media (min-width:578px){
    .container.continue{
        position:absolute;
        bottom:1%
    }
    .outer{
        position:relative;
        overflow-y:auto;
        height: 90%;
    }
    .imageContainer{
        position: relative;
        width: 100%;
        height: 100%;
    }
}
