.messageTextFormat{
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0;
    overflow-wrap: break-word;
    padding: 5px;
}


.message{
    border-radius: 10px;

    width: fit-content; /*fit-content anda pero hay que mejorar cosas*/
    max-width: 60vw;
}

.messageSent {
    margin-left: auto;
    background-color: #000000;
    color: whitesmoke;
}

.messageRecived {
    background-color: rgb(222, 222, 222);
}