.container{
    font-family: 'SF Pro Regular';
    max-width: inherit;
}

.container.name{
    position: relative;
    width: 100%;
}

.yesButton{
    width:100%;
}

.container.otherNames{
    margin-top:5%;
    margin-bottom:100px;
}

.buttonMore{
    margin-top: 2%;
}

.container.continue.d-grid{
    position:fixed;
    bottom:60px;
}

@media(min-width:578px){
    .container.continue.d-grid{
        position:absolute;
        bottom:1%;
    }
    .outer{
        position:relative;
        overflow-y:auto;
        height: 90%;
    }
    
}