.container{
    font-family: 'SF Pro Regular';
    max-width: inherit;
}

.container.continue{
    position: fixed;
    bottom: 60px;
}

.button{
    width:100%
}

.outer{
    position: absolute;
    width:100%;
    height: calc(100% - 200px);
}

.container.breeds{
    position: absolute;
    width:100%;
    overflow-y: auto;
    height: calc(100% - 285px)
}

@media(min-width:578px){
    .container.breeds{
        height: calc(100% - 160px)
    }
    .container.continue{
        position:absolute;
        bottom:1%;
        width:100%
    }
}





