<div class="containerDiv" *ngIf="post">
    <div *ngIf="postImages.length === post.photos.length">
        <app-post-carousel [postImages]="postImages"></app-post-carousel>
    </div>
    <div class="post-info">
        <div class="dog-name">
            <h2>{{post.dogName}}</h2>
        </div>
        <div class="other-info">
            <p><b>Raza: </b>{{post.dogBreed}}</p>
            <p><b>Descripción: </b>algo hardcodeado</p>
        </div>
        <div class="contact-button">
            <button class="btn btn-outline-dark">Contactar</button>
        </div>
    </div>   
</div>
