<div class="outerNav">
    <div class="navbarStyles">
        <app-navbar-sup [text]="'Perro'"></app-navbar-sup>
    </div>
</div>
<div class="outerDiv" *ngIf="post">
    <div class="containerDiv">
        <div *ngIf="postImages.length" class="carousel-container">
            <app-post-carousel [postImages]="postImages" class="post-carousel"></app-post-carousel>
        </div>
        <div class="post-info">
            <div class="dog-name">
                <h2>{{post.dogName}}</h2>
            </div>
            <div class="other-info">
                <p *ngIf="post.dogNicknames.length > 0"><b>Apodos: </b>{{post.dogNicknames.join()}}</p>
                <p><b>Raza: </b>{{post.dogBreed}}</p>
                <p><b>Género: </b>{{post.dogGender}}</p>
                <p><b>Perdido el: </b>{{post.lostOn.toString()}}</p>
                <p><b>Descripción: </b>{{post.lostDescription}}. <br> {{post.dogDescription}}</p>
            </div>
            <div *ngIf="displayButton === true" class="contact-button">
                <button class="btn btn-outline-dark" (click)="contactUser()">Contactar</button>
            </div>
            <div *ngIf="displayButton === false" class="contact-button">
                <button class="btn btn-outline-dark" routerLink="/editpost/{{post.id}}" >Editar</button>
            </div>
            <div *ngIf="displayButton === false" class="contact-button mt-2">
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal" ><i class="bi bi-trash3"></i></button>
            </div>
        </div>   
    </div>
    <div class="navbarStylesInf">
        <app-navbar-inf></app-navbar-inf>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="deletePostModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Eliminar Publicación?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Desea eliminar la publicación?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="deletePost()">Si</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>


