.containerDiv{
    position: relative;
    width: 100%;
    margin-top: 76px;

    
}

.carousel-container{
    position: relative;
    height: 30%;
    width: 100%;
}

.post-carousel{
    position: relative;
    height: 100%;
    width: 100%;
}

.post-info{
    border-top-color: rgb(228, 228, 228);
    border-top-width: 2px;
    border-top-style: solid;

    position: relative;
    height: 60%;

    overflow-y: auto;
}

.contact-button{
    display: flex;
    justify-content: space-around;
    z-index: 9999999;
}

.dog-name{
    display: flex;
    justify-content: space-around;

    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.other-info{
    margin-left: 5%;
    margin-right: 5%;
}

.outerDiv{
    position: relative;
    height: 100vh;
    width: 100vw;


    display: flex;
    justify-content: space-around;
}

.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: white;



    z-index: 9999;

    position: fixed;
    width: 100%;
    max-width: 1200px;
}

.navbarStylesInf {


    z-index: 9999;

    position: fixed;
    width: 100%;
}

@media (min-width:578px){
    .outerNav{
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .outerDiv{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .containerDiv{
        display: inline-flex;
        margin: 10vh 10vw 10vh 10vw;
        margin-top: max(10vh,86px);/*86px max height of navbar*/
        margin-bottom: 86px;
        max-width: 1200px;
        max-height: 700px;
        height: calc(100% - (87px + 86px));
        box-shadow: 10px 5px 5px rgb(97, 97, 97);
    }

    .post-info{
        width: 50%;
        height: 100%;
        font-size: x-large;

        border-top-color: rgb(228, 228, 228);
        border-top-width: 2px;
        border-top-style: solid;
    }
    
    .carousel-container{
        width: 50%;
        height: 100%;
    }

}
@media (min-width:2300px){
    .containerDiv{
        max-width: 1500px;
        max-height: 900px;
    }

    .navbarStyles {
        max-width: 1500px;
    }
}

@media (min-width:2900px){
    .containerDiv{
        max-width: 1800px;
        max-height: 1200px;
    }

    .navbarStyles {
        max-width: 1800px;
    }
}
