.containerDiv{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    
}

.post-info{
    border-top-color: rgb(228, 228, 228);
    border-top-width: 2px;
    border-top-style: solid;

    position: relative;
    height: 70vh;
    background-color: whitesmoke;
}

.contact-button{

}



