

.containerDiv {
    position: absolute;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 99999999;
}

.prueba {
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.navBar {
    border-bottom-color: rgb(228, 228, 228);
    background-color: whitesmoke;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
}

.inputMsgDiv{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background-color: whitesmoke;
    border-top-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-top-style: solid;
    
}

.inputMsg{
    width: 100%;
}

.divMsg{
    padding-bottom: 60px;
    padding-top: 86px;
    background-color: whitesmoke;
}

.btn-styles{
    background-color: #000000;
    color: whitesmoke;
}