

.containerDiv {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999;

    max-width: 1200px;
}

.messageRow {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.navBar {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    background-color: white;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    z-index: 9999;
}

.inputMsgDiv{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    padding: 5px 20px 5px 20px;
    border-top-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-top-style: solid;
    background-color: white;
    
}

.inputMsg{
    width: 100%;
}

.divMsg{
    padding-bottom: 60px;
    padding-top: 86px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.btn-styles{
    background-color: #000000;
    color: whitesmoke;
}

.outerDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
