<div class="outerDiv">
    <div class="containerDiv shadeDiv">
        <app-login-input #inputLogin  ></app-login-input>
        <app-login-button class="loginButton" (click)="getData()"></app-login-button>
        <div class="separator">
            <div class="separator1">
                <hr>
            </div> 
            <div class="o">
                <p> o </p>
            </div>
            <div class="separator2">
                <hr>
            </div> 
        </div>
        <div class="signUpButton">
            <button class="btn btn-outline-dark" routerLink="/signup">Registrarse</button>
        </div>
    </div>
</div>


