.settings-container{
    position: relative;
    display: flex;
    
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.info-user-container{
    position: relative;

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.deparment-selection-container{
    position: relative;

    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
}

.mid-div{
    width: 100%;
    height: 100;
    margin-top: 86px;
    max-width: 1200px;
    
}

.btn{
    width: 180px;
    height: 50px;
}

.dropdown-menu{
    overflow-y: scroll;
    height: 200px;
}

.profile-image{
    position: relative;
    height:20vh;
    width: 20vh;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    z-index: 999;
    background-color: white;

    position: fixed;
    width: 100%;
    max-width: 1200px;
}




