.bg-chat{
    position: relative;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
}

.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    z-index: 9999;

}

.containerUserPreview{
    position: relative;
    padding-top: 87px;
    padding-bottom: 56.5px;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.containerDiv{
    position: relative;
    width: 100%;

    max-width: 1200px;
    background-color: whitesmoke;
}

