.bg-chat{
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
}

.navbarStyles {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: white;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    z-index: 9999;
}

.loading{
    margin-top:15%;
}

.containerUserPreview{
    position: relative;
    padding-top: 87px;
    padding-bottom: 56.5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.containerDiv{
    position: relative;
    width: 100%;

    max-width: 1200px;
}

@media(min-width:992px){
    .navBarInf{
        display: none;
    }
}