#uploadbutton {
    display: inline-block;
    margin-right: 3vh;
    text-align: center;
    align-content: center;
    width: 66px;
    height: 40px;
    color:white;
    background-color: black;
  }