.userPreview {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.imgUser{
    position: relative;
    width: 6vw;
    height: 100%;
    min-width: 70px;
    left: 0;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.userTextContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.username {
    position: absolute;
    top: 0;
    left: 5px;
}

.lastMsg{
    position: absolute;
    top: 50%;
    left: 5px;
}