<form class="formContainer">
    <div class="form-group">
      <label for="usernameInput">Usuario</label>
      <div class="inputContainer">
        <input type="text" class="form-control inputStyle" #usernameInput placeholder="Ingrese su usuario">
      </div>
    </div>
    <div class="form-group passForm">
      <label for="passwordInput">Contraseña</label>
      <div class="inputContainer">
        <input type="password" class="form-control inputStyle" #passwordInput placeholder="Ingrese su contraseña">
      </div>
    </div>
</form>
