.formContainer {
    margin-right: 10%;
    margin-left: 10%;


}

.inputStyle{
    border: none;
}

.inputContainer{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.passForm{
    margin-top: 20px;
}


