.nextButton{
    position: fixed;
    bottom: 5vh;
    right: 10px;
    z-index: 1;
    font-size: 3rem;
}

.previousButton{
    position: fixed;
    bottom: 5vh;
    left: 10px;
    z-index: 1;
    font-size: 3rem;
}


.post-view{
    height: 100%;
}

.outerDiv{
    position: relative;
    height: 100vh;
}

.containerDiv{
    position: relative;
    height: 100%;
    width: 100%;
}









