.nextButton{
    position: fixed;
    bottom: 5vh;
    right: 10px;
    z-index: 1;
    font-size: 3rem;
}

.previousButton{
    position: fixed;
    bottom: 5vh;
    left: 10px;
    z-index: 1;
    font-size: 3rem;
}


.post-view{
    height: 100%;
}

.outerDiv{
    position: relative;
    height: 100vh;
}

.containerDiv{
    position: relative;
    height: 100%;
    width: 100%;
}

@media (min-width:500px){
    .outerDiv{
        height: 80vh;
    }
    .containerDiv{
        width: auto;

        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}
@media (min-width:700px){
    
    .containerDiv{
        width: auto;

        margin-left: 13vw;
        margin-right: 13vw;
    }
}

@media (min-width:900px){
    
    .containerDiv{
        width: auto;

        margin-left: 16vw;
        margin-right: 16vw;
    }
}

@media (min-width:1100px){
    
    .containerDiv{
        width: auto;

        margin-left: 19vw;
        margin-right: 19vw;
    }
}







